<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="bg-home"></div>
  <div class="link-l" [routerLink]="['/menu/opciones']"></div>
  <span class="navbar-brand text-white">
    <i class="fas fa-home" *ngIf="inHome"></i>
    <i
      class="fas fa-arrow-left"
      *ngIf="!inHome"      
    ></i>
  </span>

  <span class="spacer"></span>

  <!-- <div class="bg-microphone"></div>
  <div class="link-r" (click)="record()" holdable ()></div>
  <span class="navbar-brand text-white">
    <i class="fas fa-microphone"></i>
  </span> -->
  <app-record></app-record>
</nav>

<div class="loading" *ngIf="showAlert && !loading">
  <app-alert></app-alert>
</div>

<div class="loading" *ngIf="loading">
  <svg class="svg-loading" width="200" height="200" viewBox="0 0 100 100">
    <polyline
      class="line-cornered stroke-still"
      points="0,0 100,0 100,100"
      stroke-width="10"
      fill="none"
    ></polyline>
    <polyline
      class="line-cornered stroke-still"
      points="0,0 0,100 100,100"
      stroke-width="10"
      fill="none"
    ></polyline>
    <polyline
      class="line-cornered stroke-animation"
      points="0,0 100,0 100,100"
      stroke-width="10"
      fill="none"
    ></polyline>
    <polyline
      class="line-cornered stroke-animation"
      points="0,0 0,100 100,100"
      stroke-width="10"
      fill="none"
    ></polyline>
  </svg>
</div>

<div class="container-fluid p-4 pb-3 h-80">
  <ng-content #mainContent> </ng-content>
</div>
