<div class="row mb-4">
    <div class="col">
        <h6>Equipo: {{pcName}}</h6>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="status-progress mb-3">
          <div class="status-circle mx-auto">
            <span class="progress-percent" *ngIf="statView == 1">{{ memPercentUsage | number:'2.1-1'}}%</span>
          </div>          
        </div>
    </div>

    <div class="col-12">
        <span>Capacidad: 478.9 GB</span>
    </div>
    <div class="col-12">
        <span>Usado: 103.9 GB</span>
    </div>
    <div class="col-12">
        <span>Disponible: 375 GB</span>
    </div>
</div>

<div class="status-bar-container">
  <div class="status-bar">
    <div class="row">
      <div class="col-4 status-opt" [ngClass]="{'option-selected': statView === 1}" (click)="changeStatView(1)">
        <span class="mx-auto">
          <i class="fas fa-memory"></i>
        </span>
      </div>
      <div class="col-4 status-opt" [ngClass]="{'option-selected': statView === 2}" (click)="changeStatView(2)">
        <span class="mx-auto">
          <i class="fas fa-hdd"></i>
        </span>
      </div>
      <div class="col-4 status-opt" [ngClass]="{'option-selected': statView === 3}" (click)="changeStatView(3)">
        <span class="mx-auto">
          <i class="fas fa-microchip"></i>
        </span>
      </div>
    </div>
  </div>
</div>
