<div class="row animated fadeInRight fast overflow-col">
  <div class="col">
    <table class="table table-dark table-striped">
      <thead>
        <th>
          Proceso
        </th>
        <th>
          Memoria
        </th>
        <th>
          CPU
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>

        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>

        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>

        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>

        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
        <tr>
          <td class="process">
            icon nombre
          </td>
          <td>
            12%
          </td>
          <td>
            32%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
