/* You can add global styles to this file, and also import other style files */

html {
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.h-80 {
  height: 80%;
}

.container-fluid {
  color: white;
}

nav {
  background-color: #282e3c !important;

}

.navbar {
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  z-index: 1;
  width: 100%;
}

nav > span {
  z-index: 1;
}

body {
  background-color: #242632;
}

@media only screen and (min-width: 992px) {
  .overflow-col-container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overflow-col {
    position: absolute;
    width: 95%;
  }
}

thead > th {
  position: sticky;
  top: 0;
  background-color: #282e3c;
}

th {
  border-top: 0px !important;
}

.bg-home,
.bg-microphone {
  width: 60px;
  height: 56px;
  background-color: #2d3348;
  float: left;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
}

.link-l,
.link-r {
  width: 60px;
  height: 56px;
  background-color: transparent;
  float: left;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
}

.link-l {
  left: 0;
}

.link-r {
  right: 0;
}

.link-l:hover,
.link-r:hover,
.process:hover,
.card:hover {
  cursor: pointer;
}

.bg-home {
  left: 0;
}

.navbar-brand {
  margin-right: 0.5rem;
}

.bg-microphone {
  right: 0;
}

.fa-microphone {
  position: relative;
}

.spacer {
  flex: 1 1;
  margin: 0.25rem;
}

.card {
  background-color: #282e3c;
  color: white;
  border-radius: 18px;
}

.option-title-s1 {
  padding: 8px;
  background-color: #2d3348;
  border-radius: 24px;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.option-title-s1-text,
.option-title-s2-text,
.option-title-s3-text {
  font-size: larger;
}

.option-container {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #2d3342;
}

.option-title-s1-text {
  color: #1de3d6;
  font-weight: bold;
}

.option-title-s2-text {
  color: white;
}

.primary-icon {
  font-size: 3rem;
}

.option-icon-container {
  width: 6.4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #202430;
  border-radius: 50px;
  padding: 24px;
}

.option-selected {
  background-color: #2d3348;
}

.sub-common,
.sub-check,
.sub-alert {
  position: absolute;
}

.sub-check {
  color: #13aa19;
}
.sub-alert {
  color: #ef7d36;
}

.sub-bubble {
  color: yellowgreen;
}

.status {
  color: white;
}

.status-bar-container {
  background-color: transparent;
  border-radius: 50px;
  color: white;
  padding: 0.05rem;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #3d3f58;
  overflow: hidden;
}

.status-opt {
  font-size: xx-large;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.status-opt:hover:not(.option-selected) {
  color: #5e625e;
  cursor: pointer;
}

.status-opt:active {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
}

.status-progress {
  width: 13rem;
  height: 13rem;
  border-style: solid;
  border-radius: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.status-circle {
  margin-top: 4rem;
}

.progress-percent {
  font-size: 3rem;
}

.table-dark {
  background-color: #242632;
}

.loading {
  background-color: #00000087;
  width: 100%;
  height: calc(100% - 56px);
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.svg-loading {
  z-index: 999999999;
  background-color: #2626264f;
}

.alert-container {
  color: white;
  background-color: #424e64;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.alert-header {
  padding: 0.25rem;
}

.alert-body {
  padding: 1rem;
  color: black;
  background: white;
}

.alert-button {
  background: #424e64;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.alert-button:hover {
  color: white;
}

.alert-button:hover:enabled {
  text-decoration: none;
  background-color: #606a7d !important;
}

.alert-button:focus {
  outline: 0;
  box-shadow: none;
}

.alert-button:active {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #fff;
  background-color: #929799 !important;
}

.alert-button-cancel {
  background-color: #b32d2dd6;
}

.configurations,
.command-list {
  background-color: #282e3c;
  border-radius: 0.5rem;
  padding: 1rem;
}

.drop-option {
  display: flex;
}

.bg-blue {
  background-color: #4482e0;
}

.c-gray {
  color: #9c9c9e;
}

.drop-row {
  border-radius: 1rem;
  background-color: #2e3646;
  padding: 1rem;
}

.drop-badge {  
  word-wrap: break-word;
}

.fa-angle-down,
.fa-angle-up {
  font-size: x-large;
}

.dropdown:hover {
  cursor: pointer;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.scale-down-center {
  -webkit-animation: scale-down-center 0.8s
    cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: scale-down-center 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}
@-webkit-keyframes scale-down-center-reverse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scale-down-center-reverse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.scale-down-center-reverse {
  -webkit-animation: scale-down-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    reverse both;
  animation: scale-down-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
}

.option {
  bottom: 0rem;
}

.circle-micro {
  text-align: center;
  bottom: 0;
  right: 0;
  border-radius: 30rem;
  position: fixed;
  margin: 1rem;
  background-color: #2d3348;
  z-index: 2;  
}



.micro {
  color: white;
  right: 0;
  margin: auto;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.micro-disabled {
  background-color: #666a6f;
  cursor: unset;
}

@media (max-width: 576px) {
  .circle-micro {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }

  .micro {font-size: 2.5rem;}

  @-webkit-keyframes waves {
    0% {
      background: #7c7c80;
      width: 4rem;
      height: 4rem;
      opacity: 1;
    }
    
    100% {
      width: 18rem;
      height: 18rem;
      opacity: 0;
    }
  }
}

@media (min-width: 576px) {
  .circle-micro {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
  }

  .micro {font-size: 3rem;}

  @-webkit-keyframes waves {
    0% {
      background: #7c7c80;
      width: 8rem;
      height: 8rem;
      opacity: 1;
    }
    
    100% {
      width: 23rem;
      height: 23rem;
      opacity: 0;
    }
  }
}

@media (min-width: 768px) {
  .circle-micro {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
  }

  .micro {font-size: 3rem;}

  @-webkit-keyframes waves {
    0% {      
      background: #7c7c80;
      width: 9.5rem;
      height: 9.5rem;
      opacity: 1;
    }
    
    100% {
      width: 24.5rem;
      height: 24.5rem;
      opacity: 0;
    }
  }
}

@media (min-width: 992px) {
  .circle-micro {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
  }

  .micro {font-size: 4rem;}

  @-webkit-keyframes waves {
    0% {      
      background: #7c7c80;
      width: 10rem;
      height: 10rem;
      opacity: 1;
    }
    
    100% {
      width: 25rem;
      height: 25rem;
      opacity: 0;
    }
  }
}

@media (min-width: 1200px) {
  .circle-micro {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
  }

  .micro {font-size: 4rem;}

  @-webkit-keyframes waves {
    0% {      
      background: #7c7c80;
      width: 12rem;
      height: 12rem;
      opacity: 1;
    }
    
    100% {
      width: 28rem;
      height: 28rem;
      opacity: 0;
    }
  }

}

.waves {
  z-index: 0;
  background:transparent;
  animation: waves 0.8s linear infinite;
  animation-delay: .1s;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
.swing-in-left-bck {
  -webkit-animation: swing-in-left-bck 0.6s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 365ms;
}

@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
.flip-in-ver-left {
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 365ms;
}

 @-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}
 .wobble-hor-bottom{color: #dc6666; -webkit-animation:wobble-hor-bottom .8s both;animation:wobble-hor-bottom .8s both}