<div class="row flip-in-ver-right" style="margin-bottom: 5rem;">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 1">
      
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Mantenimiento <span style="color: #f16950;">(No disponible)</span> </h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-wrench primary-icon"></i>
              <i class="fas fa-check sub-check"></i>
            </div>
          </div>

          <div class="option-title-s1 mt-2">
            <div>
              <span class="option-title-s1-text">
                Automatico
              </span>
            </div>
          </div>
        </div>

        <h6 class="card-subtitle mt-2 text-muted">Ultimo analisis: Hoy</h6>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 2">
    <div class="card mx-auto text-center h-100" (click)="toSettings()">
      <div class="card-body">
        <h5 class="card-title">Configuración</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-cogs primary-icon"></i>
            </div>
          </div>

          <div class="option-title-s3 mt-2">
            <div class="option-container">
              <span class="option-title-s2-text">
                Realice configuraciones generales del sistema
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(3)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 3">
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Liberar espacio <span style="color: #f16950;">(No disponible)</span> </h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-broom primary-icon"></i>
              <i class="fas fa-exclamation-circle sub-alert"></i>
            </div>
          </div>

          <div class="option-title-s2 mt-2">
            <div class="option-container">
              <span class="option-title-s2-text">
                388 MB de espacio disponible para liberar
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(5)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 5">
      <div class="card mx-auto text-center h-100" (click)="toCommandList()">
        <div class="card-body">
          <h5 class="card-title">Lista de comandos disponibles</h5>
  
          <div class="option-body">
            <div class="option-icon">
              <div class="option-icon-container">
                <i class="fas fa-user primary-icon"></i>
                <i class="fas fa-comment sub-common"></i>
              </div>
            </div>
  
            <div class="option-title-s2 mt-2">
              <div class="option-container">
                <span class="option-title-s2-text">
                  Lista con los comandos disponibles para usar en esta aplicación
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(4)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 4">
    <div class="card mx-auto text-center h-100" (click)="toProcessList()">
      <div class="card-body">
        <h5 class="card-title">Procesos en ejecución</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-desktop primary-icon"></i>
            </div>
          </div>

          <div class="option-title-s2 mt-2">
            <div class="option-container">
              <span class="option-title-s2-text">
                Liste los procesos actualmente en ejecución
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 mt-3 option" (mouseenter)="mouseEnter(6)" (mouseleave)="mouseLeave()" [@enterAnimation]="option == 6">
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Lista negra <span style="color: #f16950;">(No disponible)</span> </h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-book primary-icon mr-1"></i>
              <i class="fas fa-pencil-alt sub-common"></i>
            </div>
          </div>

          <div class="option-title-s2 mt-2">
            <div class="option-container">
              <span class="option-title-s2-text">
                Bloqueé procesos ó aplicaciónes para que no puedan ser
                ejecutados en el equipo administrado
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
