<div class="row" #options>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 option">
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Mantenimiento</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-wrench primary-icon"></i>
              <i class="fas fa-check sub-check"></i>
            </div>
          </div>

          <div class="option-title-s1 mt-2">
            <div>
              <span class="option-title-s1-text">
                Automatico
              </span>
            </div>
          </div>
        </div>

        <h6 class="card-subtitle mt-2 text-muted">Ultimo analisis: Hoy</h6>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 option">
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Configuración</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-cogs primary-icon"></i>
            </div>
          </div>

          <div class="option-title-s3 mt-2">
            <div>
              <span class="option-title-s2-text">
                Realice configuraciones generales del sistema
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 option">
    <div class="card mx-auto text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Liberar espacio</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-broom primary-icon"></i>
              <i class="fas fa-exclamation-circle sub-alert"></i>
            </div>
          </div>

          <div class="option-title-s2 mt-2">
            <div>
              <span class="option-title-s2-text">
                388 MB de espacio disponible para liberar
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3 option">
    <div class="card mx-auto text-center h-100" (click)="toProcessList()">
      <div class="card-body">
        <h5 class="card-title">Aplicaciones en ejecución</h5>

        <div class="option-body">
          <div class="option-icon">
            <div class="option-icon-container">
              <i class="fas fa-desktop primary-icon"></i>
            </div>
          </div>

          <div class="option-title-s2 mt-2">
            <div>
              <span class="option-title-s2-text">
                Liste las aplicaciones actualmente en ejecución
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
